# -----------------------------------------------------------------------------
# Local storage device for active working data (i.e. DBs, logs, etc.)
# -----------------------------------------------------------------------------

# set the value of unused parameters to "none"

readonly ACTIVE_DATA_UUID="DISK_X_UUID" # Reported by: `sudo blkid /dev/<device>`
readonly ACTIVE_DATA_MAPPER="ext_ssd"
readonly ACTIVE_DATA_MOUNT="srv_rapid_storage"

readonly ACTIVE_DATA_LVM_NAME="logic_volume_name"
readonly ACTIVE_DATA_LVM_GROUP="logic_volume_group"

# -----------------------------------------------------------------------------
# Local storage device for data at rest
# -----------------------------------------------------------------------------

# set the value of unused parameters to "none"

readonly STORAGE_DATA_KEY_FILE="mass_storage_key_file_path"

readonly STORAGE_DATA_UUID="DISK_Y_UUID" # Reported by: `sudo blkid /dev/<device>`
readonly STORAGE_DATA_MAPPER="ext_hdd"
readonly STORAGE_DATA_MOUNT="srv_mass_storage"

readonly STORAGE_DATA_LVM_NAME="logic_volume_name"
readonly STORAGE_DATA_LVM_GROUP="logic_volume_group"

# -----------------------------------------------------------------------------
# Network storage for data at rest
# -----------------------------------------------------------------------------

readonly NETWORK_SHARE_PROTOCOL="cifs" # set to "none" if network share is not used

readonly NETWORK_SHARE_ADDRESS="//<address>/share_name"
readonly NETWORK_SHARE_MOUNT="lan_data_storage"
readonly NETWORK_SHARE_CREDENTIALS="lan_storage_credentials_file_path"
readonly NETWORK_SHARE_OPTIONS="dir_mode=0555,file_mode=0444,uid=1000,gid=1000"

# -----------------------------------------------------------------------------
# Misc system definitions
# -----------------------------------------------------------------------------

readonly LUKS_MIN_VERSION="2"

# set the value of unused parameters to "none"

readonly ST_USER="your-syncthing-user"    
readonly ST_SERVICE="syncthing@${ST_USER}.service"

readonly DOCKER_SERVICE="<docker>.service"
