readonly ST_STORAGE_DATA_DEV="sdX"
readonly ST_STORAGE_DATA_MAPPER="HDD_EXT"
readonly ST_STORAGE_DATA_MOUNT="srv_mass_storage"

readonly ST_HOME_DATA_DEV="sdY"
readonly ST_HOME_DATA_MAPPER="SSD_EXT"
readonly ST_HOME_DATA_MOUNT="srv_rapid_storage"
readonly ST_STORAGE_DATA_KEY_FILE="mass_storage_key_file_path"

readonly ST_LUKS_MIN_VERSION="2"

readonly ST_USER="your-syncthing-user"
readonly ST_SERVICE="syncthing@${ST_USER}.service"
